<!DOCTYPE html>
<html lang="en">
	{% include 'includes/header.html.twig' %}


	<body>
		<!-- Responsive navbar-->
		{% include 'includes/menu.html.twig' %}


		<br>


		<!--Barre de recherche-->
		<div class="form-floating">


			<form action="index.php" method="get">

				<input type="search" name="terme">
				<input type="submit" name="s" value="Recherche">


			</form>
		</div>
		<br>


		<!-- Page Content-->
		<div
			class="container px-4 px-lg-5">

			<!-- Heading Row-->
			<div class="row gx-4 gx-lg-5 align-items-center my-5">

				<div class="col-12">
					<h1 class="font-weight-light">{{"Bienvenue sur le site d'article" }}</h1>
					<p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it,
												                            but it makes a great use of the standard Bootstrap core components. Feel free to use this template
												                            for any project you want!</p>

				</div>
			</div>

			<!-- Content Row-->
			<div class="row gx-4 gx-lg-5">


				{% for articles in ListArticles %}
					<div class="col-md-4 mb-5">
						<div class="card h-100">
							<img class="card-img-top" src="img/{{articles.getId}}.jpg">

							<div class="card-body">
								<h2 class="card-title">{{articles.getTitre}}</h2>
								<p class="card-text">{{articles.getTexte}}</p>
							</div>
							<div class="card-footer">
								<a class="btn btn-primary btn-sm" href="#!">{{articles.getDate}}</a>

								{% if  sid  is defined  %}
									<a class="btn btn-primary btn-sm" href="PageArticles.php?formulaire={{articles.getId}}">afficher</a>
									<a class="btn btn-primary btn-sm" href="FormUpdateArticles.php?formulaire={{articles.getId}}">Modifier</a>
									<a class="btn btn-primary btn-sm" href="FormDeleteArticles.php?formulaire={{articles.getId}}">Supprimer</a>

								{% endif %}


							</div>
						</div>
					</div>

				{% endfor %}

			</div>

		</div>
	</body>
</html>

